@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Nunito:wght@400;800&display=swap");

.container {
  background-color: #868e96;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  animation-name: FadeIn;
  animation-fill-mode: both;
  animation-duration: 2s;
}

.container__divContent {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: transparent;
}

@keyframes FadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
